* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: auto;
    margin: 5px;
    background-color: antiquewhite;
}

/*
.background {
    background-image: url(../images/josh-calabrese-XXpbdU_31Sg-unsplash.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

h1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    background-color: rgb(165, 195, 165);
    max-width:max-content;
    box-shadow: 10px 10px;
}

p {
    text-align:center;
}

section {
    padding-top: 20px;
    padding-bottom; 20px;
    border-style: double;
    margin-bottom: 30px;
    background-color: rgb(165, 195, 165);  
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.about {
    max-width: 500px
}

/*Image*/

img {
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 20px;
    border: solid black 2px;
}
.me {
}

.work {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
}

/*Header and Nav Bar*/
nav {
    background-color: rgb(246, 239, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px;
    border-color:black;
    padding-left: 50px;
    padding-right: 50px;
}


#name {
    font-size: 40px;
    float: right;
}

ul {
    font-size: 24px;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
    float: left;
}

li a {
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

hr {
    max-height: 5px;
}

/*FOOTER*/
.footer {
    text-align: right;
    font-size: 20px;
    display: block;
    padding: auto;
}