* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #a3cb90;
    padding: auto;
    margin: 5px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0, 0, 4px, 4px;
}

nav {
    background-color: white;
    box-shadow: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    font-size: 40px;
    float: right;
}

#about {
    text-align: center;
    max-width: fit-content;
    height: 100px;
    clear: right;
}

ul {
    font-size: 24px;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
    float: left;

}

li a {
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    height: 200px;
    width: 150px;
    float: right;
}

hr {
    max-height: 5px;
}

/*FOOTER*/
.footer {
    text-align: right;
    font-size: 20px;
}